* {padding: 0; margin: 0;}
*, *::before, *::after {box-sizing: inherit;}
html {box-sizing: border-box; font-size: 62.5%; // 1 rem = 10 px

    @media only screen and (max-width:75em) { // 1200 px
        font-size: 50%; // 1 rem = 8px
    }
} 

body {
    font-family: 'SF Text Regular', sans-serif;
} 

h1 {
    font-size: 2.7rem;
    color: currentColor;
    font-family: 'SF Display Pro Regular', sans-serif;
    line-height: 3.5rem;
    font-weight: 400;
    margin-bottom: 4rem;
    }

h2 {
    font-size: 2.7rem;
    color: currentColor;
    font-family: 'SF Display Pro Regular', sans-serif;
    line-height: 3.5rem;
    font-weight: 400;
    margin-bottom: 4rem;
    }

p {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 2rem;
    color: #4D4D4D;
}

a, 
a:link, 
a:visited {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
    font-size: 1.6rem;
}



button {
    background: none;
    border: none;
    border-radius: 0;
}

 hr {
     background: none;
     border: none;
     border-bottom: 1px solid #BDBDBD;
 }

.wrap {
    max-width: 126rem; //desktop 1200 px
    height: 100%;
    margin: 0 auto;
    padding: 0 3rem;

    @media only screen and (max-width:75em) { // 1200 px
        max-width: 120rem;
    }
} //.wrap

.wrap.mobile-wrap { // wrap для мобильных устройств

    @media only screen and (max-width:64em) { // 1024 px
        max-width: 100%;
        padding:0;
    }
} // .mobile-wrap

